<!DOCTYPE html>
<html>
  <head>
    <title>Violators</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.css">
  </head>
  <body>
    <div id="container" style="width:100%; height:400px;"></div>
    <div id="container2">
    <section id="main">
      <table id="violation-list" class="table table-striped">
	<thead>
	  <tr>
	    <th>Date Recieved</th>
	    <th>Address</th>
	    <th>Compliant Type</th>
	    <th>Last Activity Date</th>
	    <th>Last Activity</th>
	  </tr>
	</thead>
	<tbody>
	</tbody>
      </table>
    </section>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highcharts/4.0.1/highcharts.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
    <script>
     $(document).ready(function() {
       $(function () {
         $('#container').highcharts({
           chart: {
             type: 'bar',
             zoomType: 'x',
           },
           plotOptions: {
             series: {
               cursor: 'pointer',
               point: {
                 events: {
                   click: function() {
                     alert ('Category: '+ this.category +', value: '+ this.y);
                   }
                 }
               }
             }
           },
           title: {
             text: 'Breakdown'
           },
           xAxis: {
             categories: {{ months|safe }}
           },
           yAxis: {
             title: {
               text: 'Incidents'
             }
           },
           series: {{ series|safe }}
         });
       });
     });
    </script>
    <script>
     $(document).ready(function() {
       // Violation Model
       // ----------

       // Our basic **Violation** model has `title`, `order`, and `done` attributes.
       var Violation = Backbone.Model.extend({

 	 // Default attributes for the violation item.
 					     defaults: function() {
 	   return {
 	     title: "empty violation...",
 	     order: Violations.nextOrder(),
 	     done: false
 	   };
 	 },
	 
	 // Ensure that each violation created has `title`.
	 initialize: function() {
      if (!this.get("title")) {
        this.set({"title": this.defaults().title});
      }
	 },

	 // Toggle the `done` state of this violation item.
			    toggle: function() {
	   this.save({done: !this.get("done")});
	 }

       });
       var ViolationList = Backbone.Collection.extend({

	 // Reference to this collection's model.
						      model: Violation,

	 //  API Endpoint
	 url: '/violations/',

	 // Filter down the list of all violation items that are finished.
						      done: function() {
	   return this.filter(function(violation){ return violation.get('done'); });
	 },

	 // Filter down the list to only violation items that are still not finished.
									remaining: function() {
	   return this.without.apply(this, this.done());
	 },

	 // We keep the Violations in sequential order, despite being saved by unordered
	 // GUID in the database. This generates the next order number for new items.
						     nextOrder: function() {
	   if (!this.length) return 1;
	   return this.last().get('order') + 1;
	 },

	 // Violations are sorted by their original insertion order.
				  comparator: function(violation) {
	   return violation.get('order');
	 }

       });
       var ViolationView = Backbone.View.extend({
         tagName: "tr",
         template: _.template($('#item-template').html()),
         render: function() {
           this.$el.html(this.template(this.model.toJSON()));
           return this;
         }
       });
       var Violations = new ViolationList;
 // The Application
  // ---------------

  // Our overall **AppView** is the top-level piece of UI.
  var AppView = Backbone.View.extend({

    // Instead of generating a new element, bind to the existing skeleton of
    // the App already present in the HTML.
    el: $("#container2"),

    // At initialization we bind to the relevant events on the `Violations`
    // collection, when items are added or changed. Kick things off by
    // loading any preexisting violations that might be saved in *localStorage*.
    initialize: function() {

      this.listenTo(Violations, 'add', this.addOne);
      this.listenTo(Violations, 'reset', this.addAll);
      this.listenTo(Violations, 'all', this.render);

      this.main = $('#main');

      Violations.fetch();
    },

    // Re-rendering the App just means refreshing the statistics -- the rest
    // of the app doesn't change.
    render: function() {
      var done = Violations.done().length;
      var remaining = Violations.remaining().length;

      if (Violations.length) {
        this.main.show();
       } else {
        this.main.hide();
      }
    },

    // Add a single violation item to the list by creating a view for it, and
    // appending its element to the `<ul>`.
    addOne: function(violation) {
      var view = new ViolationView({model: violation});
      this.$("#violation-list").append(view.render().el);
    },

    // Add all items in the **Violations** collection at once.
    addAll: function() {
      Violations.each(this.addOne);
    },

  });

  // Finally, we kick things off by creating the **App**.
  var App = new AppView;
     });
    </script>

    <!-- Templates -->

    <script type="text/template" id="item-template">
     <td><%= date_recieved %></td>
     <td><%= property_address %></td>     
     <td><%= reported_problem %></td>     
     <td><%= last_activity_date %></td>     
     <td><%= last_activity %></td>     
    </script>
  </body>
</html>
